verse = 1

if verse === 4
<div class="starter-template">
  <h1>This is the song that doesn't end</h1>
</div>

<br>

if verse === 1
<div class="starter-template">
  <h1>It just goes on and on my friends</h1>

</div>


if verse === 2
<div class="starter-template">
  <h1>Some people, started singing it not knowing what it was</h1>
</div>


if verse === 3
<div class="starter-template">
  <h1>And they'll continue singing it forever just because...</h1>
</div>
